h2{
  color: DARKSLATEBLUE;
}

h1 {
  color: Black;font-size:100px;

}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column{
  float: left;
  width: 33.33%;
}

/* Clear floats after image containers */
.row:after {
  content: "";
  clear: both;
  display: table;
}
